.home-base
  cc-santa
  cc-section(
    heading="Welcome To Secret Santa Generator!"
    description="Organise your Secret Santa by creating your own group or enter a group ID and find out who you have got!"
    size="small"
  )
    .home-base__cta
      cc-button(
        buttonSize="large"
        buttonStyle="primary"
        uiRef="create-event"
        description="Create event"
      ) Create Event
      .home-base__choice Or
      cc-button(
        buttonSize="large"
        buttonStyle="secondary"
        uiRef="get-your-name"
        description="Get your name"
      ) Get Your Name