.footer
  .footer__socials
    cc-button(
      buttonStyle="icon-link"
      buttonSize="extra-small"
      externalLink="https://www.linkedin.com/in/michael-beaseley-817b5a101"
    )
      img(src="/assets/icons/linkedin.svg")
    cc-button(
      buttonStyle="icon-link"
      buttonSize="extra-small"
      externalLink="https://twitter.com/MTBeaseley"
    )
      img(src="/assets/icons/twitter.svg")
    cc-button(
      buttonStyle="icon-link"
      buttonSize="extra-small"
      externalLink="https://github.com/mbeaseley"
    )
      img(src="/assets/icons/github.svg")
    cc-button(
      buttonStyle="icon-link"
      buttonSize="extra-small"
      externalLink="mailto:m.t.beaseley@gmail.com"
    )
      img(src="/assets/icons/envelope.svg")

  .footer__copyright © 2020 Copyright: Michael Beaseley
